<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enrolled Students</title>
  </head>
  <body>
    <center>
      <h1><%= data.subject_name %></h1>
    <div>
      <table border : "1">
        <tr>
          <th>No</th>
          <th>Name</th>
          <th colspan="2">Score</th>
          <th>Score</th>
        </tr>
        <% var id = 1 %>
        <% param.forEach(student => { %>
          <tr>
            <td><%= id++ %></td>
            <% if(student.Student) { %>
            <td><%= student.Student.first_name + ' ' + student.last_name %></td>
            <% } else {%>
            <td> - </td>
            <% } %>
            <td>
              <% if (student.score == undefined) { %>
              <a href="/subject/givescore/<%= student.StudentId %>/<%= student.SubjectId %>"><button type="button" name="button">Give Score</button></a>
            <% } else { %>
              <%= student.score %>
            <% } %>
          </td>
          </tr>
        <% }) %>
      </table>
      <br>
      <br>
      <a href="/subject"><button type="button" name="button">Back</button></a>
      </center>
    </div>
  </body>
</html>
